[Ll]ibrary/
[Tt]emp/
[Oo]bj/
/build/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/

Build/*.log
Build/Android/
Build/Server/
Build/Docs/
backend/bloodring.db

.vs/
.vscode/
.idea/
.gradle/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt
crashlytics-build.properties

*.apk
*.aab
*.unitypackage
*.app

Assets/StreamingAssets/AssetBundles/

[Bb]ee/
Packages/packages-lock.json
node_modules/


